header nav #page-title {
  padding-left: 2rem;
  font-size: 200%;
  font-weight: 300; }
header nav ul.tabs {
  width: 100%; }
header nav #slide-out {
  overflow: auto; }
  header nav #slide-out li {
    width: 100%; }
  header nav #slide-out #logo-container {
    height: 140px;
    padding: 10px 60px; }
    header nav #slide-out #logo-container:hover {
      background-color: inherit; }
  header nav #slide-out #logo {
    height: 120px;
    width: 120px;
    padding: 0;
    background: url("../images/ping.png") no-repeat;
    background-size: contain;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }

.dropdown-content.select-dropdown {
  z-index: 500; }

#search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  float: right;
  margin-right: 3rem;
  overflow: hidden; }
  #search.active .input {
    width: 300px; }
  #search a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
  #search i {
    height: auto;
    line-height: 100%; }
  #search .input {
    float: right;
    width: 0;
    margin: 0;
    overflow: hidden;
    -webkit-transition: width 0.5s cubic-bezier(0.55, 0, 0.1, 1);
            transition: width 0.5s cubic-bezier(0.55, 0, 0.1, 1); }
    #search .input input {
      border-bottom: 1px solid white;
      -webkit-transition: border-bottom 0.2s ease;
              transition: border-bottom 0.2s ease; }
    #search .input input:focus {
      border-bottom: 1px solid transparent;
      -webkit-transition: border-bottom 0.2s ease;
              transition: border-bottom 0.2s ease; }
    #search .input .bar:before, #search .input .bar:after {
      background: white; }

.progress {
  display: none;
  background-color: transparent; }
  .progress.active {
    display: block; }

.input {
  position: relative;
  margin: 24px 0; }
  .input input {
    font-size: 18px;
    display: block;
    width: 300px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #757575;
    -webkit-transition: border-bottom 0.2s ease;
            transition: border-bottom 0.2s ease; }
    .input input:focus {
      outline: none;
      border-bottom: 1px solid transparent;
      -webkit-transition: border-bottom 0.2s ease;
              transition: border-bottom 0.2s ease; }
      .input input:focus ~ .bar:before, .input input:focus ~ .bar:after {
        width: 50%; }
    .input input:focus ~ label, .input input:valid ~ label, .input input:invalid ~ label {
      top: -20px;
      font-size: 1em;
      color: #29B6F6;
      opacity: 1; }
    .input input:invalid ~ label {
      color: #F44336; }
    .input input:valid ~ .bar:before, .input input:valid ~ .bar:after {
      background: #29B6F6; }
  .input label {
    position: absolute;
    left: 5px;
    top: -5px;
    color: black;
    font-size: 1.4em;
    font-weight: normal;
    pointer-events: none;
    opacity: 0.56;
    -webkit-transition: 0.2s ease all;
            transition: 0.2s ease all; }
  .input .bar {
    position: relative;
    display: block;
    width: 300px; }
    .input .bar:before, .input .bar:after {
      position: absolute;
      bottom: 1px;
      content: "";
      height: 2px;
      width: 0;
      background: #F44336;
      -webkit-transition: 0.2s ease all;
              transition: 0.2s ease all; }
    .input .bar:before {
      left: 50%; }
    .input .bar:after {
      right: 50%; }

.textarea {
  position: relative; }
  .textarea textarea {
    display: block;
    height: 7rem;
    width: 300px;
    resize: none;
    font-size: 18px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #757575;
    -webkit-transition: border-bottom 0.2s ease;
            transition: border-bottom 0.2s ease; }
    .textarea textarea:focus {
      outline: none;
      border-bottom: 1px solid transparent;
      -webkit-transition: border-bottom 0.2s ease;
              transition: border-bottom 0.2s ease; }
      .textarea textarea:focus ~ .bar:before, .textarea textarea:focus ~ .bar:after {
        width: 50%; }
  .textarea .bar {
    position: relative;
    display: block;
    width: 300px; }
    .textarea .bar:before, .textarea .bar:after {
      position: absolute;
      bottom: 1px;
      content: "";
      height: 2px;
      width: 0;
      background: #F44336;
      -webkit-transition: 0.2s ease all;
              transition: 0.2s ease all; }
    .textarea .bar:before {
      left: 50%; }
    .textarea .bar:after {
      right: 50%; }

main .banner {
  display: block;
  max-width: 75%;
  padding-top: 2rem;
  margin: auto; }
main p {
  padding: 0 2rem; }
main .card {
  display: block;
  background-color: #F44336;
  cursor: pointer;
  margin-top: 1rem;
  -webkit-transition: margin 0s;
          transition: margin 0s; }
  main .card.active {
    margin-top: 0.5rem;
    -webkit-transition: margin .5s ease-out;
            transition: margin .5s ease-out; }
  main .card .icon {
    text-align: center;
    color: #FFF;
    font-size: 200px; }
  main .card .fill-card {
    height: 100% !important; }
  main .card .card-title {
    width: 100%;
    background-color: #F44336; }

.fixed-action-btn {
  bottom: 2rem;
  right: 2rem; }

#modal-login .modal-content, #modal-register .modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #modal-login .modal-content h4, #modal-register .modal-content h4 {
    padding-bottom: 1rem; }
  #modal-login .modal-content .input, #modal-register .modal-content .input {
    margin-bottom: 0; }
#modal-login #login-register, #modal-login #register-login, #modal-register #login-register, #modal-register #register-login {
  float: left; }

#modal-event .modal-content #event-description {
  padding: 0.75rem 1rem 0; }
#modal-event .modal-content #event-more {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24); }
#modal-event .modal-content .participant {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  width: 100%;
  margin-bottom: 0.75rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #modal-event .modal-content .participant span {
    font-weight: 300; }
  #modal-event .modal-content .participant img, #modal-event .modal-content .participant i {
    display: block;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    color: #F44336;
    font-size: 200%;
    line-height: 2rem; }
#modal-event .modal-content .channel {
  margin-bottom: 0.75rem; }

#modal-create .modal-content .input {
  margin: 0; }

h4, h5 {
  font-weight: 300; }

p {
  font-weight: 300; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

@media only screen and (min-width: 769px) {
  header, main {
    padding-left: 240px; } }
